<!DOCTYPE html>
<html>
	<head>
		<title>Bmanager - <%= @title || "untitled" %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Linksammlung</h1>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
