<p id="notice"><%= notice %></p>

<p>
  <strong>Strangername:</strong>
  <%= @neue_x_tabelle_y.strangerName %>
</p>

<p>
  <strong>Nochwas:</strong>
  <%= @neue_x_tabelle_y.nochWas %>
</p>

<%= link_to 'Edit', edit_neue_x_tabelle_y_path(@neue_x_tabelle_y) %> |
<%= link_to 'Back', neue_x_tabelle_ies_path %>
